* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: linear-gradient(to bottom, #f7f7f7, #8f8d8d);
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#response {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.headerIndex {
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-color: #f5f5f5;
    padding: 70px 0px;
}

header {
    display: flex;
    align-items: center;
    min-height: 50%;
    background-color: #f5f5f5;
    padding: 70px 0px;
}

.headerCatalogo {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 70px 0px;
}

.catalogoFlex {
    flex-direction: row;
    flex-wrap: wrap;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 25px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li {
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    padding-bottom: 5px;
    color: #111111;
    display: block;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
    margin-right: 3rem;
    margin-top: 12px;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur (10px);
    top: 100%;
    z-index: 1;
    background-color: #1f1f1f56;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th,
td {
    color: #ffffff;
}

.borrar {
    background-color: #111111;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;
    padding-top: 33px;
    margin-top: 5rem;
    padding-bottom: 33px;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-txt {
    flex-basis: 50%;
    margin-left: 3rem;
    text-align: center;
    margin-left: 7%;
}

.header-txt h1 {
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    color: #111111;
    margin-bottom: 15px;
}

.header-txt p {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: #111111;
    color: #ffffff;
    border-radius: 5px;
}

.oferta {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.oferta-1 {
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: #f5f5f5;
    padding: 35px;
    border-radius: 70px;
}

.oferta-img {
    flex-basis: 50%;
    margin-right: 15px;
}

.oferta-img img {
    width: 250px;
}

.oferta-txt {
    flex-basis: 50%;
    text-align: center;
}

.oferta-txt h3 {
    color: #111111;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.btn-2 {
    display: inline-block;
    padding: 7px 8px;
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 15px;
    margin-top: 22px;
}

.btn-3 {
    display: inline-block;
    padding: 7px 10px;
    background-color: #111111;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 22px;
    margin-left: 117px;
}

.productos {
    padding: 50px 0;
    text-align: center;
}

.productos h2 {
    color: #111111;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.productos-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.producto {
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 033.3%);
}

.producto h3 {
    font-size: 20px;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.producto p,
.precio {
    font-size: 16px;
    color: #111111;
    margin-bottom: 15px;
}

.precio {
    font-weight: 800;
}

.footer {
    padding: 50px 0;
    background: linear-gradient(to top, #000000, #050000);
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color: #f5f5f5;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a {
    font-size: 16px;
    color: #dcdcdc;
    display: block;
    margin-bottom: 10px;
}

.notificacion {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 999;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.login-container,
.register-container {
    display: none;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}


.show {
    display: block;
}

.hide {
    display: none;
}

.fondoReg {
    background-image: url(../imagenes/logoathena.png);
    background-size: 160px 145px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10rem;
}

.fondoReg2 {
    background-image: url(../imagenes/logoathena.png);
    background-size: 160px 145px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 9rem;
}

.cfgText {
    width: 14rem;
}

#registerBtn,
#loginBtn {
    margin-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

.message {
    margin-top: 10px;
}

.register-container {
    margin-top: 20px;
}

/* Estilo para el botón Logout */
#logoutBtn {
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    /*margin-right: 150px;  Espacio entre el botón y el carrito */
    margin-top: 22px;
}

/* Estilo para el contenedor del carrito */
#carrito {
    position: relative;
    /* Para que el botón Logout se posicione relativo a este contenedor */
}

/* Posicionamiento del botón Logout */
#logoutBtn {
    position: absolute;
    top: 26px;
    right: 41px;
    border: 1px solid rgb(51, 51, 51);
}

.btn-primary {
    padding: 2px;
}

.btn-secondary {
    padding: 2px;
}

#error-message {
    width: 360px;
    height: 100px;
    background-color: rgb(243 189 144);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #3e0c0c;
    color: #000000;
    text-align: center;
    padding-top: 33px;
    z-index: 9999;
    border-radius: 9px;
    font-size: 20px;
}

#error-message button {
    position: absolute;
    padding-right: 10px;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    justify-content: center;
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap)* .5);
    background-color: var(--bs-modal-footer-bg);
    border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
    border-bottom-right-radius: var(--bs-modal-inner-border-radius);
    border-bottom-left-radius: var(--bs-modal-inner-border-radius);
    align-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% desde la parte superior y centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Podrías ajustar esto a un tamaño específico si prefieres */
}


.bodyContact {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 90vh;
    margin-top: 4%;
    /* padding-top: 10%; */
}

#nosotros {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.acomoP1 {
    margin-top: 17%;
}

/* Estilos para el cuerpo */
.bodyNosotros {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

/* Estilos para el encabezado */
.headerNosotros {
    background-color: #8dc63f;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilos para el contenido principal */
.mainNosotros {
    padding: 20px;
}

/* Estilos para la sección "Nosotros" */
.sectionNosotros {
    margin-bottom: 20px;
}

/* Estilos para el pie de página */
.footerNosotros {
    background-color: #f4a44dcc;
    color: #000000;
    text-align: center;
    padding: 20px 0;
    margin-top: 0;
}

/* Estilos para el contenido del pie de página */
.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

#acomHeadCon {
    display: flex;
    align-items: center;
    min-height: 50%;
    background-color: #f5f5f5;
    padding: 35px 0px;
}

/* Estilos para las secciones del pie de página */
.footer-section {
    flex: 1;
    padding: 20px;
}

/* Estilos para los enlaces del pie de página */
.footer-section ul {
    list-style-type: none;
    padding: 0;
}

#acomContact {
    margin-top: 2%;
    margin-bottom: 2%;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #000000;
}

/* Estilos para la sección inferior del pie de página */
.footer-bottom {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}




/*******MEDIA-QUERIES*******/
@media (max-width: 991px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: o;
        right: 0;
        background-color: #111111;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a {
        color: #f5f5f5;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .logo {
        display: none;
    }

    .submenu:hover #carrito {
        min-width: 100%;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 50px 0;
        flex-direction: column;
    }

    .header-img {
        display: none;
    }

    .header-txt {
        flex-basis: 100%;
        text-align: center;
    }

    .header-txt h1 {
        font-size: 60px;
    }

    .oferta {
        padding: 30px 30px 0 30px;
        flex-direction: column;
    }

    .oferta-1 {
        margin-bottom: 30px;
    }

    .productos {
        padding: 0 30px 30px 30px;
    }

    .productos h2 {
        margin-bottom: 30px;
    }

    .productos-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .producto-img {
        width: 200px;
        height: 200px;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}


/* TODO AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
.productos2 {
    padding: 0 30px 30px 30px;
}

.productos2 h2 {
    margin-bottom: 30px;
}

.productos-content2 {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

.producto-img2 {
    width: 200px;
    height: 200px;
}


.productos2 {
    padding: 50px 0;
    text-align: center;
}

.productos2 h2 {
    color: #111111;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.91), -1px 1px 0px rgb(255, 255, 255, 0.91), 1px -1px 0px rgb(255, 255, 255, 0.91), -1px -1px 0px rgb(255, 255, 255, 0.91);
}

.productos-content2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.producto2 {
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 033.3%);
}

.producto2 h3 {
    font-size: 20px;
    color: #111111;
    text-transform: uppercase;
    
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.91), -1px 1px 1px rgb(255, 255, 255, 0.91), 1px -1px 1px rgb(255, 255, 255, 0.91), -1px -1px 1px rgb(255, 255, 255, 0.91);
}

.producto2 p,
.precio2 {
    font-size: 16px;
    color: #111111;
    font-weight: bold;
    margin-bottom: 15px;
    text-shadow: 1px -1px 3px rgba(255, 255, 255, 0.91), -1px 1px 3px rgb(255, 255, 255, 0.91), 1px -1px 3px rgb(255, 255, 255, 0.91), -1px -1px 3px rgb(255, 255, 255, 0.91);
}


.darkmode--activated p {
    color: #fff;
}

.darkmode--activated .navbar {
    background-color: #333;
}

.header-chica {
    box-shadow: inset 0px 0px 20px 222px #ffffff, 0px 0px 20px 20px #ffffff;
    width: 100%;
}

.whiteTxt  {
    text-shadow: 1px 1px 0px rgb(0 0 0 / 91%), -1px 1px 0px rgb(0 0 0), 1px -1px 0px rgb(0 0 0), -1px -1px 0px rgb(0 0 0);
}

.darkmode--activated .navbar {
    background-color: #fff;
}

.logo {
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.91), -1px 1px 0px rgb(255, 255, 255, 0.91), 1px -1px 0px rgb(255, 255, 255, 0.91), -1px -1px 0px rgb(255, 255, 255, 0.91);
}

.img-carrito {
    background-color: #fff;
}

/* Estilos para modales en modo oscuro */
.darkmode--activated .submenu:hover #carrito {
    background-color: white; 
    color: black; /* Color del texto del modal en modo oscuro */
    border-radius: 5px;
}

.darkmode--activated td {
    color:#000000;
}

.darkmode--activated .navbar {
    border-radius: 10px;
}


.prenda2 {
    width: 120px;
    height: 180px;
    border: 1px solid #ccc;
    margin: 5%;
    text-align: center;
}

.catalogo2 {
    display: grid;
    justify-items: center;
}

.rectangulo2 {
    background-color: #f0f0f0; /* Color de fondo predeterminado */
    border: 2px solid #000; /* Borde negro */
    border-radius: 10px; /* Bordes redondeados */
    margin: 10px; /* Espacio entre rectángulos */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Cambiar cursor al pasar sobre el rectángulo */
    position: relative; /* Posición relativa para que el posicionamiento absoluto sea relativo a este contenedor */
    width: 557px;
    height: 601px;
    overflow: hidden; /* Ocultar cualquier parte de la imagen que se salga del contenedor */
    color: #000000;
    font-size: 25px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.91), -1px 1px 0px rgb(255, 255, 255, 0.91), 1px -1px 0px rgb(255, 255, 255, 0.91), -1px -1px 0px rgb(255, 255, 255, 0.91);
}

#volverBtn2 {
    display: flex;
    margin-bottom: 2%;
    margin-left: 50%;
    padding: 5px;
}

.categorias2 {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.productos-content2 {
    background-color: rgb(90, 53, 254);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
    justify-content: center;
    flex-direction: column;
    height: 500px;
}

.producto2 {
    height: 400px;
    width: 500px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.rectangulo2 img {
    position: absolute; /* Posición absoluta para poder mover la imagen dentro del contenedor */
    bottom: 100px; /* Posición inicial en la parte superior del contenedor */
    left: 50px; /* Posición inicial en la parte izquierda del contenedor */
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: 100%; /* La imagen ocupará todo el alto del contenedor */
}

/* ImagenesPre Catalogo */

#remerasCatalogo {
    background-image: url(../imagenes/remera-seis.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pantalonesCatalogo {
    background-image: url(../imagenes/pantalon-cuatro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#zapatosCatalogo {
    background-image: url(../imagenes/calzado-dos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#buzosCatalogo {
    background-image: url(../imagenes/buzos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#camperasCatalogo {
    background-image: url(../imagenes/logo-encabezado.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#vestidosCatalogo {
    background-image: url(../imagenes/vestido-cuatro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* Imagenes posterior al Catalogo */

/* remeras */

#remeras1producto2 {
    background-image: url(../imagenes/catalogo/remeras/remera-cinco.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#remeras2producto2 {
    background-image: url(../imagenes/catalogo/remeras/remera-cuatro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#remeras3producto2 {
    background-image: url(../imagenes/catalogo/remeras/remera-dos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#remeras4producto2 {
    background-image: url(../imagenes/catalogo/remeras/remera-seis.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}



/* pantalones */
#pantalones1producto2 {
    background-image: url(../imagenes/catalogo/pantalones/pantalon-dos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


#pantalones2producto2 {
    background-image: url(../imagenes/catalogo/pantalones/pantalon-tres.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


#pantalones3producto2 {
    background-image: url(../imagenes/catalogo/pantalones/pantalon-cinco.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


#pantalones4producto2 {
    background-image: url(../imagenes/catalogo/pantalones/pantalon-seis.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* zapatos */
#zapatos1producto2 {
    background-image: url(../imagenes/catalogo/zapatos/calzado-uno.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


#zapatos2producto2 {
    background-image: url(../imagenes/catalogo/zapatos/calzado-dos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


#zapatos3producto2 {
    background-image: url(../imagenes/catalogo/zapatos/calzado-tres.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


#zapatos4producto2 {
    background-image: url(../imagenes/catalogo/zapatos/calzado-cuatro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* vestidos */

#vestidos1producto2 {
    background-image: url(../imagenes/catalogo/vestidos/right.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


#vestidos2producto2 {
    background-image: url(../imagenes/catalogo/vestidos/vestido-uno.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


#vestidos3producto2 {
    background-image: url(../imagenes/catalogo/vestidos/vestido-dos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


#vestidos4producto2 {
    background-image: url(../imagenes/catalogo/vestidos/vestido-tres.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#vestidos5producto2 {
    background-image: url(../imagenes/catalogo/vestidos/vestido-cuatro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#vestidos6producto2 {
    background-image: url(../imagenes/catalogo/vestidos/vestido-cinco.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#vestidos7producto2 {
    background-image: url(../imagenes/catalogo/vestidos/vestido-seis.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* buzos */

#buzos1producto2 {
    background-image: url(../imagenes/catalogo/buzos/f2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


